<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.punk.dao.CategoryDao">
    <select id="findBySearch" resultType="com.punk.entity.Category">
        select * from category
        <where>
            <if test="params != null and params.kindname != null and params.kindname != ''">
                and kindname like concat('%', #{ params.kindname }, '%')
            </if>
        </where>
    </select>
</mapper>