<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.punk.dao.ImgDao">
    <!--    需要固定传入类型为 string 不然在运行bean是 mybatis 无法找到 params的getter方法-->
    <select id="findBySearch" resultType="com.punk.entity.Img">
        select * from img
        <where>
            <if test="params != null and params.game != null and params.game != ''">
                and game = concat('%', #{ params.game }, '%')
            </if>
        </where>
    </select>
</mapper>